Dockerfile
.env
.git
.github
node_modules
dist
test
diag
lib/forge-std
lib/sushiswap/*
!lib/sushiswap/packages
lib/sushiswap/packages/*
!lib/sushiswap/packages/sushi
lib/sushiswap/packages/sushi/*
!lib/sushiswap/packages/sushi/package.json
!lib/sushiswap/packages/sushi/dist
!lib/sushiswap/protocols
lib/sushiswap/protocols/*
!lib/sushiswap/protocols/route-processor
lib/sushiswap/protocols/route-processor/*
!lib/sushiswap/protocols/route-processor/deployments
