# path to config yaml file
CONFIG=

# Git branch to track for docker compose
DOCKER_CHANNEL=master

# Full OTLP HTTP trace URL. Leave empty to print spans to the console.
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=""

# trace/spans service name, defaults to "rain-solver" if not set
TRACER_SERVICE_NAME=""

# test rpcs vars
TEST_POLYGON_RPC=
TEST_BASE_RPC=
TEST_FLARE_RPC=
TEST_ETH_RPC=
TEST_BSC_RPC=
TEST_ARBITRUM_RPC=
